#Calculator{
background-color: gray;
border: 1px solid black;
border-radius: 5px;
width: 200px;
}

#display{
    margin:10px;
    width: 85%;
    font-size: 30px;
}
.button-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.button{
width: 45px;
height: 40px;
margin:3px
}